.App {
 
  padding: 200px 200px;
  border: 5px solid black;
  background-color:powderblue;
}
.button {
  padding: 16px 32px;       
  font-size: 18px;          
  width: 200px;             
  height: 60px; 
  background-color: lightgrey;            
}
.buttons {
  padding: 16px 32px;       
  font-size: 18px;          
  width: 200px;             
  height: 60px; 
  background-color: lightgrey;
  
    margin-left: 10px; 
  }

  .login{
    background-color: white;
 
    
  }
   

